[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
